version: '3.8'

services:
  synthea:
    build:
      context: ./synthea-docker
      dockerfile: Dockerfile
    container_name: synthea_generator
    volumes:
      - ./output/synthea_raw:/synthea/synthea/output
    environment:
      - JAVA_OPTS=-Xmx8g
    command:
      - /bin/sh
      - -c
      - "./run_synthea -p 10000 -s 12345 --exporter.baseDirectory=./output --exporter.csv.export=true --exporter.fhir.export=false Massachusetts"
    networks:
      - synthea_network

networks:
  synthea_network:
    driver: bridge
