services:
  mermaid:
    image: minlag/mermaid-cli
    volumes:
      - .:/work
    working_dir: /work
    command: -i fig_architecture.mmd -o fig_architecture.pdf --pdfFit

  latex:
    build: .
    depends_on:
      mermaid:
        condition: service_completed_successfully
    volumes:
      - .:/work
    working_dir: /work
    command: sh -c "pdflatex -interaction=nonstopmode clinfuse.tex; pdflatex -interaction=nonstopmode clinfuse.tex"
